<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jajapo</title>
    <link rel="stylesheet" href="css/tailwind-output.css" />
  </head>
  <body class="flex flex-col min-h-full">
    <%- include("./partials/navbar") %>
    <main class="flex-grow"><%- body %></main>
    <%- include("./partials/footer") %>
  </body>
</html>
