<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
            Nuestra historia
          </h2>
          <p class="mt-6 text-gray-700 mb-4">
            Jajapo nació de la idea de que la vida es más fácil cuando tenemos
            acceso a los servicios que necesitamos. Queremos ser la solución
            para aquellos que buscan ayuda para realizar tareas cotidianas,
            desde la reparación de electrodomésticos hasta la enseñanza de
            idiomas. Nuestro equipo está comprometido con la calidad y la
            seguridad, para que puedas confiar en nosotros.
          </p>
          <div class="mt-6">
            <a
              href="/services"
              class="btn bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"
            >
              Leer más
            </a>
          </div>
        </div>
      </div>
      <div
        class="relative overflow-hidden rounded-xl h-64 md:h-auto mx-[-1rem] sm:mx-0"
      >
        <div
          class="absolute inset-0 bg-gradient-to-l from-white via-transparent to-transparent"
        ></div>
        <div
          class="absolute inset-0 bg-gradient-to-t from-white via-transparent to-transparent"
        ></div>
        <div
          class="absolute inset-0 bg-gradient-to-r from-white via-transparent to-transparent"
        ></div>
        <div
          class="absolute inset-0 bg-gradient-to-b from-white via-transparent to-transparent"
        ></div>
        <img src="images/gatos.jpg" class="w-full h-full object-cover" alt="" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <header class="text-center">
      <p class="mx-auto mt-4 max-w-max text-gray-500">
        Nos comprometemos a liderar la transformación del mercado de servicios
        en Paraguay, mediante la innovación constante y la búsqueda de la
        excelencia en todo lo que hacemos. Nos enfocamos en crear experiencias
        de servicio únicas y personalizadas, que satisfagan las necesidades de
        nuestros usuarios y nos permitan mantenernos a la vanguardia de la
        industria
      </p>
    </header>

    <div class="mt-8 justify-center items-center">
      <ul class="mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
        <li>
          <a href="#" class="group relative block bg-black h-[500px]">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1604533112740-806ceefd1111?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <div class="relative p-4 sm:p-6 lg:p-8">
              <p class="text-xl font-bold text-white sm:text-2xl">Mision</p>
              <div class="mt-32 sm:mt-48 lg:mt-64">
                <div
                  class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
                >
                  <p class="text-sm text-white">
                    Nuestra misión es conectar a las personas con los servicios
                    que necesitan, de manera segura y confiable. Nos esforzamos
                    por crear una plataforma que sea fácil de usar y que brinde
                    resultados precisos y relevantes.
                  </p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="group relative block bg-black h-[500px]">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1586953484900-568ad9b360d9?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <div class="relative p-4 sm:p-6 lg:p-8">
              <p class="text-xl font-bold text-white sm:text-2xl">Vision</p>
              <div class="mt-32 sm:mt-48 lg:mt-64">
                <div
                  class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
                >
                  <p class="text-sm text-white">
                    Nuestra visión es ser la plataforma líder en servicios en
                    Paraguay, conocida por su innovación y calidad. Queremos que
                    nuestros usuarios puedan encontrar lo que necesitan de
                    manera rápida y sencilla, y que nuestros proveedores de
                    servicios puedan crecer y prosperar.
                  </p>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="group relative block bg-black h-[500px]">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1474158495590-b00ac19269ba?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <div class="relative p-4 sm:p-6 lg:p-8">
              <p class="text-xl font-bold text-white sm:text-2xl">Valores</p>
              <div class="mt-32 sm:mt-48 lg:mt-64">
                <div
                  class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
                >
                  <p class="text-sm text-white">
                    En Jajapo, nos guiamos por valores como la integridad, la
                    confianza y el compromiso. Nos esforzamos por crear una
                    comunidad que sea respetuosa y segura, y que brinde
                    oportunidades para que todos puedan crecer y prosperar.
                  </p>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
