<section class="bg-gray-100">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
      <div class="lg:col-span-2 lg:py-12">
        <p class="max-w-xl text-lg text-gray-500">
          En Jajapo, nos esforzamos por brindarle la mejor experiencia posible.
          Si tiene alguna pregunta o inquietud, no dude en hacérselo saber.
          Estamos aquí para ayudarlo
        </p>

        <div class="mt-8">
          <a href="#" class="text-2xl font-bold text-orange-500">
            +595 971 000 000
          </a>

          <address class="mt-2 not-italic text-gray-500">
            Calle Mcal. Estigarribia 1234, entre Avda. España y Avda. Mariscal
            López, Asunción, Paraguay
          </address>
        </div>
      </div>

      <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
        <form action="#" class="space-y-4">
          <div>
            <label class="sr-only" for="name">Nombre</label>
            <input
              class="w-full rounded-md border-gray-200 p-3 text-sm text-gray-700"
              placeholder="Nombre completo"
              type="text"
              id="name"
            />
          </div>

          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label class="sr-only" for="email">Email</label>
              <input
                class="w-full rounded-md border-gray-200 p-3 text-sm text-gray-700"
                placeholder="Email"
                type="email"
                id="email"
              />
            </div>

            <div>
              <label class="sr-only" for="phone">Telefono</label>
              <input
                class="w-full rounded-md border-gray-200 p-3 text-sm text-gray-700"
                placeholder="Numero de telefono"
                type="tel"
                id="phone"
              />
            </div>
          </div>

          <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-3">
            <div>
              <label
                for="Option1"
                class="block w-full cursor-pointer rounded-md border border-gray-200 p-3 text-gray-600 hover:border-orange-500 has-[:checked]:border-orange-500 has-[:checked]:bg-orange-500 has-[:checked]:text-white"
                tabindex="0"
              >
                <input
                  class="sr-only"
                  id="Option1"
                  type="radio"
                  tabindex="-1"
                  name="option"
                />

                <span class="text-sm"> Presupuesto </span>
              </label>
            </div>

            <div>
              <label
                for="Option2"
                class="block w-full cursor-pointer rounded-md border border-gray-200 p-3 text-gray-600 hover:border-orange-500 has-[:checked]:border-orange-500 has-[:checked]:bg-orange-500 has-[:checked]:text-white"
                tabindex="0"
              >
                <input
                  class="sr-only"
                  id="Option2"
                  type="radio"
                  tabindex="-1"
                  name="option"
                />

                <span class="text-sm"> Consulta </span>
              </label>
            </div>

            <div>
              <label
                for="Option3"
                class="block w-full cursor-pointer rounded-md border border-gray-200 p-3 text-gray-600 hover:border-orange-500 has-[:checked]:border-orange-500 has-[:checked]:bg-orange-500 has-[:checked]:text-white"
                tabindex="0"
              >
                <input
                  class="sr-only"
                  id="Option3"
                  type="radio"
                  tabindex="-1"
                  name="option"
                />

                <span class="text-sm"> Sugerencia </span>
              </label>
            </div>
          </div>

          <div>
            <label class="sr-only" for="message">Mensaje</label>

            <textarea
              class="w-full rounded-md border-gray-200 p-3 text-sm text-gray-700"
              placeholder="Escribe tu mensaje"
              rows="8"
              id="message"
            ></textarea>
          </div>

          <div class="mt-4">
            <button
              type="submit"
              class="inline-block w-full rounded-md bg-orange-500 px-5 py-3 font-medium text-white sm:w-auto"
            >
              Enviar consulta
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
