<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
            ¡Encuentra los mejores servicios en Paraguay!
          </h2>
          <p class="mt-6 text-gray-700 mb-4">
            En Jajapo, te conectamos con los mejores profesionales y empresas de
            servicios en todo Paraguay. Desde electricistas hasta diseñadores,
            encuentra la ayuda que necesitas en un solo lugar.
          </p>
          <div class="mt-6">
            <a
              href="/services"
              class="btn bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"
            >
              Explorar
            </a>
          </div>
        </div>
      </div>
      <div
        class="relative overflow-hidden rounded-xl h-64 md:h-auto mx-[-1rem] sm:mx-0"
      >
        <div
          class="absolute inset-0 bg-gradient-to-l from-white via-transparent to-transparent"
        ></div>
        <div
          class="absolute inset-0 bg-gradient-to-t from-white via-transparent to-transparent"
        ></div>
        <div
          class="absolute inset-0 bg-gradient-to-r from-white via-transparent to-transparent"
        ></div>
        <div
          class="absolute inset-0 bg-gradient-to-b from-white via-transparent to-transparent"
        ></div>
        <img
          src="images/pescador.jpg"
          class="w-full h-full object-cover"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <header class="text-center">
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
        Servicios en Paraguay
      </h2>

      <p class="mx-auto mt-4 max-w-md text-gray-500">
        En Jajapo, te ofrecemos una variedad de servicios para satisfacer tus
        necesidades.
      </p>
    </header>

    <ul class="mt-8 grid gap-4 sm:grid-cols-4">
      <li>
        <a href="#" class="group block overflow-hidden">
          <div class="absolute top-0 left-0 bg-yellow-500 p-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
          <img
            src="images/electricista.jpg"
            alt=""
            class="h-48 w-full object-cover transition duration-500 group-hover:scale-105"
          />

          <div class="relative bg-white pt-3">
            <h3
              class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
            >
              Electricista
            </h3>
          </div>
        </a>
      </li>

      <li>
        <a href="#" class="group block overflow-hidden">
          <div class="absolute top-0 left-0 bg-green-500 p-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
          <img
            src="images/diseñador.jpg"
            alt=""
            class="h-48 w-full object-cover transition duration-500 group-hover:scale-105"
          />

          <div class="relative bg-white pt-3">
            <h3
              class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
            >
              Diseñador
            </h3>
          </div>
        </a>
      </li>

      <li>
        <a href="#" class="group block overflow-hidden">
          <div class="absolute top-0 left-0 bg-purple-500 p-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
          <img
            src="images/jardinero.jpg"
            alt=""
            class="h-48 w-full object-cover transition duration-500 group-hover:scale-105"
          />

          <div class="relative bg-white pt-3">
            <h3
              class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
            >
              Jardinero
            </h3>
          </div>
        </a>
      </li>

      <li>
        <a href="#" class="group block overflow-hidden">
          <div class="absolute top-0 left-0 bg-red-500 p-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
          <img
            src="images/mas.jpg"
            alt=""
            class="h-48 w-full object-cover transition duration-500 group-hover:scale-105"
          />

          <div class="relative bg-white pt-3">
            <h3
              class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
            >
              Más
            </h3>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
