<section class="relative mt-8">
  <div class="relative h-64 w-full overflow-hidden">
    <img
      src="<%= service.bannerImage %>"
      alt="Banner Image"
      class="absolute inset-0 h-full w-full object-cover"
    />
    <div
      class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
    ></div>
  </div>
</section>
